#canvas {
    border: 2px solid black;
    display: block;
    margin: auto;
    padding: auto;
    width: 100%; 
    height: auto;
    max-width: 400px;
    aspect-ratio: 16 / 9;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Squada One', sans-serif;
    background-color: rgb(0, 0, 0);
}

@media (max-width: 600px) {
    #canvas {
        max-width: 100%;
        border-width: 1px;
    }
}

@media (min-width: 601px) {
    #canvas {
        max-width: 600px;
    }
}
